body {
    background-color: #EFF1FA;
    font-family: "Raleway", sans-serif;
    color: #0A3871;
    margin: 0;
}

.contenedor {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 15px;
    width: 70px;
    height: 40px;
}

.textarea-botones {
    width: 40%;
}

.textarea-botones textarea {
    margin-top: 100px;
    border: none;
    outline: none;
    background-color: transparent;
    resize: none;
    padding: 10px;
    font-family: "Raleway", sans-serif;
    font-size: inherit;
    color: #0A3871;
}

.botones {
    align-items: left;
    text-align: left;
    margin-top: 200px;
}

.botones img,
.botones p {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
}

.botones img {
    width: 25px;
    height: 25px;
}

.botones p {
    color: #495057;
}

.botones button {
    box-sizing: content-box;
    border-radius: 15px;
    width: 250px;
    height: 50px;
    font-family: "Raleway", sans-serif;
}

.encriptador {
    background-color: #0A3871;
    color: white;
}

.desencriptador {
    background-color: #D8DFE8;
}

.resultado {
    width: 450px;
    height: 570px;
    margin-top: 15px;
    box-sizing: content-box;
    margin-right: 20px;
    border-radius: 30px;
    text-align: center;
    background-color: white;
}

.resultado img {
    margin-top: 50px;
}

.footer{
    margin-top: 10px;
    background-color: #0A3871;
    text-align: center;
    color: #EFF1FA;
    height:  46px;
    padding: 3px;
}